{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>

    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
    
    <h1>Bonjour Django</h1>

    <p>Bonjour {{name}}</p>

    {% for color in colors  %}
        <p style="color: red; text-decoration: underline;">{{color}}</p>
    {% endfor %}


    <a href="{% url 'home' 5 %}">Lien pour 3</a>


    <script src="{% static "script.js" %}"></script>


</body>
</html>